
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  letter-spacing: -0.011em;
  /* font-family: 'Inter var', sans-serif; */
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  background: #2b2d30;
}

a {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:20px;
  color: white;
  word-wrap:break-word;
  margin: 1em;
}

.wrapper {
  position: relative;
}

.earth {
  fill: #E5E0FF;
  stroke: none;
}

.graticule {
  stroke: #cadddd;
  fill: none;
}

.my-location {
  fill: #FFF2F2;
  stroke: white;
}

/* .country:hover {
  fill: #727d91;
} */

.legend-title {
  fill: #576574;
  text-anchor: middle;
  font-weight: 900;
  font-size: 0.95em;
  letter-spacing: 0.01em;
}

.legend-byline {
  fill: #576574;
  opacity: 0.6;
  text-anchor: middle;
  font-size: 0.7em;
}

.legend-value {
  fill: #576574;
  dominant-baseline: middle;
  font-size: 0.8em;
}

.legend-value:first-of-type {
  text-anchor: end;
}